body {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 200px 1fr;
  margin:0px;
  font-family: Roboto, Geneva, Tahoma, sans-serif;
}

.sidebar {
  background-color: #fbbf24;
  grid-area: 1 / 1 / 3 / 2;
}

.header {
  
}

.main-contents {
  background-color: #fffbeb;
}