@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300&display=swap');
:root {
  --main-color: #d97706;
  --secondary-color: #fef3c7;
  --accent-color: #3b82f6;
}

p {
  margin: 0;
}

body {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 150px 1fr;
  margin:0px;
  font-family: Roboto, Geneva, Tahoma, sans-serif;
}

.sidebar {
  padding:15px;
  color:white;
  background-color: var(--main-color);
  grid-area: 1 / 1 / 3 / 2;
}

.sidebar .dashboard {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 50px;
}

.sidebar .nav {
  font-size: 20px;
  font-weight: 700;
}

.sidebar .nav > div {
  display:flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
}

.sidebar .nav > div:nth-child(6) {
  margin-bottom: 70px;
}

.header {
  padding:17px 40px;
}

.header .first-row {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .first-row form {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.header .first-row form input{
  min-width: 100px;
  flex-grow: .5;
  padding-left: 15px;
  margin-left: 15px;
  height: 24px;
  font-size: 18px;
  background-color: var(--secondary-color);
  border-radius: 24px;
  border-width:0;
}

.header .first-row .profile {
  display: flex;
  align-items: center;
  gap:20px;
  font-size: 18px;
  font-weight: 600;
  flex-shrink: 0;
}

.header .first-row .profile img {
  height: 40px;
  width: 40px;
}

.header .secend-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header .secend-row .profile {
  display: flex;
  align-items: center;
  gap:20px;
  font-weight: 600;
  flex-shrink: 0;
}

.header .secend-row .profile .hi{
  font-size: 14px;
}

.header .secend-row .profile .user-name{
  font-size: 24px;
}

.header .secend-row .profile img {
  height: 70px;
  width: 70px;
}
.header .secend-row .buttons {
  display: flex;
  gap: 25px;
}
.header .secend-row .buttons button{
  background-color: var(--main-color);
  border-width: 0;
  color: white;
  font-weight: 500;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 20px;
}
.main-contents {
  display: grid;
  gap:20px;
  grid-template-columns: 1fr 250px;
  grid-template-rows: 470px auto;
  padding: 30px 20px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.205) inset;
  background-color: var(--secondary-color);
}

.main-contents > div > .label {
  font-size: 20px;
  font-weight: 600;
  margin-bottom:15px;
}

.main-contents .your-projects {
  min-width: 650px;
  grid-area: 1 / 1 / 3 / 2;
}

.main-contents .cards .label {
  font-size: 18px;
  font-weight: 600;
}

.main-contents .cards {
  display: grid;
  gap: 30px 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.main-contents .cards .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px;
  background-color: white;
  height: 180px;
  border-radius: 8px;
  box-shadow: 5px 0px var(--accent-color) inset, 3px 3px 3px rgba(0, 0, 0, 0.15);
}

.main-contents .cards .card p {
  color:gray;
  font-size:14px;
}

.main-contents .cards .card .icons {
  display:flex;
  gap:15px;
  align-self: flex-end;
}

.main-contents .announcements .card {
  padding:0px 20px;
  background-color: white;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
  border-radius: 8px;

}

.main-contents .announcements .card .label {
  font-size: 16px;
  font-weight: 600;
}

.main-contents .announcements .card > div{
  padding:20px 5px;
}

.main-contents .announcements p {
  color:gray;
  font-size:13px;
}

.main-contents .announcements .maintenance {
  border-bottom: 1px solid rgb(162, 162, 162) ;
}
.main-contents .announcements .share-day {
  border-bottom: 1px solid rgb(162, 162, 162) ;
}



.main-contents .trending img {
  height: 40px;
  width: 40px;
}

.main-contents .trending .user {
  display:flex;
  font-size: 14px;
  gap:20px;
  align-items:center;
}

.main-contents .trending .user .user-name {
}

.main-contents .trending .user .app {
  color: gray;
}
.main-contents .trending .card {
  gap:10px;
  padding:20px 20px;
  background-color: white;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

